<div class="header">
<h1 class="blogtitle">Stacy's Users</h1>
</div>

<div class="container">

<p class="button"><%= link_to 'Sign up', new_user_path %></p>
<p class="orelse">or else......</p>
<br>
<p class="button"><%= link_to 'Post Page', posts_path %></p>
<br>
<p class="button"><%= link_to 'Home', root_path %></p>

</div>
<br>