/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html {
   background: url("Gradient-Background-17.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.header {
  width: 450px;
  padding: 20px;
  border: 1px solid white;
  text-align: center;
  font-size: 15pt;
  background-color: transparent;
  font-family: courier;
  margin: auto;
}
body {
  background-color: transparent;
  padding-top: 40px;
  background-repeat: no-repeat;
  background-position: fixed;
  font-family: courier;
}
.blogtitle {
  text-align: center;
  color: white;
  font-size: 30pt;
  font-family: courier;
  padding-bottom: 10px;
  background-color: transparent;
}
td {
  color: black;
  border:1px solid white;
  padding:10px;
  font-family: courier;
}
table{
  border-collapse:collapse;
  margin: 0 auto;
  font-family: courier;
}
th {
  font-family: courier;
}
td:nth-child(even){
/*  background:#eee;*/
  margin: 0 auto;
}
.container {
/*  background-image: url("yellow-lights-background.jpg");
*/  width:800px;
  padding:20px;
  border:1px solid white;
  margin: 0 auto;
  border-radius: 0px 89px 0px 89px;
  -moz-border-radius: 0px 89px 0px 89px;
  -webkit-border-radius: 0px 89px 0px 89px;
  border: 4px solid white;
}
.links {
  width: 450px;
  padding: 20px;
  border: 1px solid white;
  text-align: center;
  font-size: 15pt;
  background-color: transparent;
  font-family: courier;
  margin: auto;
}
