.welcomepage {
  width:600px;
  height: 600px;
  background-color: transparent;
  padding-top: 350px; 
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  margin: auto;
}
.day {
  width: 600px;
  text-align: center;
  font-size: 60pt;
  color: white;
  font-family: courier;
  padding-bottom: 10px;
  background-color: transparent;
}
.stacy {
  text-align: center;
  color: white;
  font-size: 30pt;
  font-family: courier;
  padding-bottom: 10px;
  background-color: transparent;
}
#bloglink {
  width: 450px;
  padding: 20px;
  border: 1px solid white;
  text-align: center;
  font-size: 15pt;
  background-color: transparent;
  font-family: courier;
  margin: auto;
}
