.container {
  width: 800px;
  padding: 20px;
  border: 4px solid white;
  text-align: center;
  font-size: 15pt;
  background-color: transparent;
  font-family: courier;
  margin: auto;
}
.orelse {
  font-family: courier;
  color: red;
}
p.button > a {
  color: white;
  font-size: 14pt;
}
